.about {
  display: flex;
  justify-content: center;
  padding: 80px 104px;
}

.about__image {
  max-width: 464px;
  margin-right: 56px;
}

.about__text-wrapper {
  max-width: 712px;
  padding-right: 112px;
}

.about__title {
  margin: 51px 0 24px 0;
  text-align: left;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
}

.about__text {
  max-width: 600px;
  text-align: left;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}

@media screen and (max-width: 1100px) {
  .about {
    align-items: center;
  }

  .about__image {
    width: 30.5%;
    height: 30.5%;
  }

  .about__text-wrapper {
    padding-right: 0;
  }

  .about__title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 950px) {
  .about {
    padding: 40px;
  }
}
