.news-search {
  background-image: url('../../images/main-background.png');
  padding-bottom: 80px;
  background-size: cover;
}

.search-form__title {
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  color: #ffffff;
  max-width: 610px;
  margin: 80px auto 0;
}

.search-form__subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin: 32px auto 0;
}

.search-form__search-wrapper {
  margin: 88px auto 0;
  max-width: 608px;
  background-color: white;
  border-radius: 100px;
}

.search-form__text-input {
  height: 63px;
  min-width: 440px;
  padding: 0 0 0 24px;
  border-radius: 100px 0px 0px 100px;
  border: none;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
}

.search-form__submit-button {
  min-height: 64px;
  min-width: 168px;
  border-radius: 100px;
  padding: 0;
  background-color: #2a65cc;
  border: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color ease-in 0.15s;
}

.search-form__submit-button:hover {
  background-color: #347eff;
}

.search-form__submit-button:active {
  background-color: #2a65cc;
}

.search-form__submit-button_disabled {
  background: #e6e8eb;
  color: #b6bcbf;
  cursor: not-allowed;
}

.search-form__submit-button_disabled:hover {
  background: #e6e8eb;
  color: #b6bcbf;
}
