.no-results {
  background-color: #f5f6f7;
  margin: 0;
  padding: 80px 0;
}

.no-results__title {
  margin: 24px auto 0 auto;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
}

.no-results__text {
  margin: 16px auto 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  max-width: 250px;
}
