.news-card-list {
  background: #f5f6f7;
  margin: 0;
  padding: 80px 104px;
}

.news-card-list__title {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 0 auto;
}

.news-card-list__card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  margin: 64px 0;
}

.news-card-list__api-error {
  grid-column: 1 / span 3;
  color: #ff0000;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.news-card-list__button {
  background-color: #fff;
  min-width: 288px;
  min-height: 64px;
  border: none;
  border-radius: 80px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  transition: background-color ease-in 0.15s;
}

.news-card-list__button:hover {
  background-color: #e8e8e8;
}

@media screen and (max-width: 950px) {
  .news-card-list {
    padding: 40px;
  }

  .news-card-list__card-wrapper {
    grid-gap: 8px;
  }
}

@media screen and (max-width: 550px) {
  .news-card-list {
    padding: 32px 16px 0;
  }

  .news-card-list__card-wrapper {
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    margin: 58px auto;
  }

  .news-card-list__button {
    width: 100%;
    min-width: 100%;
    margin-bottom: 24px;
  }
}

.news-card-list__card-wrapper_saved-view {
  margin-top: 0;
}
